<div class="panel">
    <div class="panel-heading">
        <input type="text" class="form-control" ng-model="ctrl.channel.name" ng-change="ctrl.updateChannel()">
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="message in ctrl.channel.messages">{{ message.body }}</li>
        </ul>
        <div class="form-group">
            <textarea
                ng-keyup="$event.keyCode == 13 && ctrl.createMessage()"
                rows="1"
                class="form-control"
                msd-elastic
                ng-model="ctrl.newMessageBody"></textarea>
        </div>
    </div>
</div>
