<form class='form-horizontal' ng-submit='createTopic()'>
	<div class='inner-medium'>
		<h3 class='header normal-weight'>Create a new Discussion</h3>
		<div class="control-group">
			<label class="control-label">Topic</label>
			<div class="controls">
				<input type='text' required class='input-full' ng-model='newTopic.name'>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Select a Group</label>
			<div class="controls">
				<select ng-model='newTopic.serie_id' ng-options='serie.id as serie.name for serie in main.series'>
					<option value=''>Your Team</option>
				</select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Tag Users</label>
			<div class="controls">
				<select class='input-xxlarge' ui-select2 multiple ng-model='newTopic.user_ids'>
					<option ng-repeat="user in main.users" value='{{ user.id }}'>{{ user.name }}</option>
				</select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Post</label>
			<div class="controls">
				<textarea redactor ng-model='newTopic.body'></textarea>
			</div>
		</div>
	</div>

	<div class='form-actions'>
		<button class='btn btn-success' type='submit'>
			Submit
		</button>
	</div>
</form>