<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row" style="margin-bottom: 10px">
                <div class="col-sm-6">
                    {{ ctrl.filterDate | date:'EEEE, MMMM d, y' }}
                </div>
                <div class="col-sm-6 text-right">
                    <div class="btn-group" style="margin-right: 5px;">
                        <button class="btn btn-default" ng-click="ctrl.addDay()">&lt;</button>
                        <button class="btn btn-default" ng-click="ctrl.goToToday()">Today</button>
                        <button class="btn btn-default" ng-click="ctrl.substractDay()">&gt;</button>
                    </div>

                    <div class="form-inline pull-right">
                        <input class="form-control" type="date" ng-model="ctrl.filterDate" ng-click="ctrl.loadDailySummaries()">
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 style="margin-top: 0">{{ ctrl.authUser.name }}</h4>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                    <div class="form-group">
                        <form ng-submit="ctrl.createDailySummary()">
                            <input
                                type="text"
                                class="form-control"
                                ng-model="ctrl.dailySummaryBody"
                                placeholder="Today I...">
                        </form>
                    </div>
                    <table class="table">
                        <tr ng-repeat="dailySummary in ctrl.selectedDailySummaries">
                            <td>
                                <div
                                    ng-show="dailySummary != dailySummaryCopy"
                                    ng-click="editDailySummary(dailySummary)">
                                    {{ dailySummary.body }}
                                </div>

                                <div ng-show="dailySummary == dailySummaryCopy">
                                    <input
                                        type="text"
                                        class="form-control"
                                        ng-model="dailySummaryCopy.body"
                                        v-on="
                                            blur: updateDailySummary(dailySummary),
                                            keyup: updateDailySummary(dailySummary) | key 'enter',
                                            keyup: cancelDailySummary(dailySummary) | key 'esc'
                                        ">
                                </div>
                            </td>
                            <td class="text-right">
                                <button
                                    class="btn btn-primary"
                                    ng-click="ctrl.editDailySummary(dailySummary)">
                                    Edit
                                </button>
                                <button
                                    class="btn btn-danger"
                                    ng-click="ctrl.deleteDailySummary(userId, dailySummary)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div
                class="panel"
                ng-repeat="user in ctrl.authUser.team.users"
                ng-hide="user.id == ctrl.authUser.id">
                <div class="panel-body">
                    <h4 style="margin-top: 0">{{ user.name }}</h4>
                    <table class="table">
                        <tbody>
                            <tr ng-show="! ctrl.dailySummaries[user.id].length">
                                <td class="text-center">
                                    <h5 class="text-muted">No entries.</h5>
                                </td>
                            </tr>
                            <tr ng-repeat="dailySummary in ctrl.dailySummaries[user.id]">
                                <td>{{ dailySummary.body }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
