<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    Saturday, 25 Jul 2015
                </div>
                <div class="col-sm-6 text-right">
                    <div class="btn-group">
                        <button class="btn btn-default">&lt;</button>
                        <button class="btn btn-default">Today</button>
                        <button class="btn btn-default">&gt;</button>
                    </div>

                    <input type="date">
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading">{{ ctrl.authUser.name }}</div>
                <div class="panel-body">
                    <div class="form-group">
                        <form ng-submit="ctrl.createDailySummary()">
                            <input
                                type="text"
                                class="form-control"
                                ng-model="ctrl.dailySummaryBody"
                                placeholder="Today I...">
                        </form>
                    </div>
                    <table class="table">
                        <tr ng-repeat="dailySummary in ctrl.selectedDailySummaries">
                            <td>
                                <div
                                    ng-show="dailySummary != dailySummaryCopy"
                                    v-on="dblclick: editDailySummary(dailySummary)">
                                    {{ dailySummary.body }}
                                </div>

                                <div ng-show="dailySummary == dailySummaryCopy">
                                    <input
                                        type="text"
                                        class="form-control"
                                        ng-model="dailySummaryCopy.body"
                                        v-on="
                                            blur: updateDailySummary(dailySummary),
                                            keyup: updateDailySummary(dailySummary) | key 'enter',
                                            keyup: cancelDailySummary(dailySummary) | key 'esc'
                                        ">
                                </div>
                            </td>
                            <td class="text-right">
                                <button
                                    class="btn btn-primary"
                                    ng-click="ctrl.editDailySummary(dailySummary)">
                                    Edit
                                </button>
                                <button
                                    class="btn btn-danger"
                                    ng-click="ctrl.deleteDailySummary(userId, dailySummary)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div
                class="panel"
                ng-repeat="(userId, dailySummaries) in ctrl.dailySummaries"
                ng-hide="userId == ctrl.authUser.id">
                <div class="panel-heading">{{ ctrl.usersById[userId].name }}</div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="dailySummary in dailySummaries">
                                <td>{{ dailySummary.body }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
