<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title pull-left">Teams</h3>
        <button class="pull-right btn btn-sm btn-success" ng-click="ctrl.createTeam()">
            Create Team
        </button>
        <div class="clearfix"></div>
    </div>
    <table class="table">
        <tr ng-repeat="team in ctrl.teams">
            <td>
                {{ team.name || 'Unamed team' }}
            </td>
            <td class="text-right">
                <button ng-click="ctrl.deleteTeam(team)" class="btn btn-danger">
                    Delete
                </button>
            </td>
        </tr>
    </table>
</div>
